<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651928555470-i9tdtvlrq2ae72pcu2j5tprikmark235.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651928555470-i9tdtvlrq2ae72pcu2j5tprikmark235</string>
	<key>API_KEY</key>
	<string>AIzaSyCOngELipJJmr_ChMox1agMTuIqSCcA-yM</string>
	<key>GCM_SENDER_ID</key>
	<string>651928555470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleFirebase1</string>
	<key>PROJECT_ID</key>
	<string>simple-auth-1-26d7d</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-auth-1-26d7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651928555470:ios:211b26ceb4cb3d126b259f</string>
</dict>
</plist>